{{ansible_managed|comment}}
# See ldap.conf(5) for details
# This file should be world readable but not world writable.

BASE    {{ldap_search_base}}
URI     {{ ldap_server | join(' ') }}
# The default timeout is sth like 2 mins.
{% if network_timeout is defined %}NETWORK_TIMEOUT    {{network_timeout}}{% endif %}

SIZELIMIT       10000
#TIMELIMIT      15
#DEREF          never

# SSL/TSL configuration. With CA-signed certs, TLS_REQCERT should be
# "demand", with the CA certificate accessible
#TLS_CACERT      /etc/ssl/cacert.pem
#TLS_CACERTDIR  /etc/ssl/openldap
#TLS_REQCERT    ([demand],never,allow,try)
#TLS_REQCERT     allow

TLS_CACERT      {{cert_dest}}
TLS_REQCERT     demand
